.task_box {
    max-width: 780px;
    margin: 15px auto 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282c34;
    border: 1px solid #000;
    border-radius: 10px;
}

.task_text {
    width: 600px;
    text-align: left;
    color: #fff;
}

.delete_btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #fff;
}